* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: rgb(245, 245, 245);
}

.sidebar {
    width: 235px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: -15px;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #6A36FF, #AC5FE6);
    border-radius: 6px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu .agora {
    background: lightgray;
    color: navy;
    border-radius: 6px;
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 15px;
}

.userIcon {
    width: 150px;
    height: 150px;
    align-self: center;
}

.sidebar b {
    align-self: center;
}

.btn-sair {
    background: red;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(215, 215, 215);
}

.conteudo h2 {
    margin-bottom: 10px;
}

.kpis {
    display: flex;
    gap: 10px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.conteudoKpi {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 7px;
}

.kpiImg {
    width: 45px;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.grafico {
    background: white;
    border-radius: 10px;
    width: 47%;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.grafico h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.grafico canvas {
    flex: 1;
    min-height: 0;
    width: 100% !important;
    height: 100% !important;
}

.grafico_total {
    background: white;
    border-radius: 10px;
    width: 80%;
    height: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.grafico_total h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.grafico_total canvas {
    flex: 1;
    min-height: 0;
    width: 100% !important;
    height: 100% !important;
}

.texto {
    display: flex;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 40px;
}

.meta input {
    width: 110px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    margin-inline: 5px;
    background: linear-gradient(20deg, #8d64ffc9, #b678e6cd);
    font-size: large;
    outline: none;
}

.meta ::-webkit-input-placeholder {
    font-weight: lighter;
    font-size: medium;
    color: rgb(95, 93, 93);
}

.meta button {
    width: 90px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-inline: 5px;
    background: linear-gradient(20deg, #6A36FF, #AC5FE6);
    color: rgb(30, 28, 28);
    cursor: pointer;
}