* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: rgb(245, 245, 245);
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 235px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.logo {
    margin-top: -15px;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #6A36FF, #AC5FE6);
    border-radius: 6px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu .agora {
    background: lightgray;
    color: navy;
    border-radius: 6px;
    font-weight: bold;
}

.menu button {
    padding: 12px;
    margin-bottom: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #6A36FF, #AC5FE6);
    border-radius: 6px;
    color: white;
    border: none;
    width: 100%;
    font-size: 15px;
    text-align: start;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 15px;
}

.userIcon {
    width: 150px;
    height: 150px;
    align-self: center;
}

.sidebar b {
    align-self: center;
}

.btn-sair {
    background: red;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
    background-color: rgb(215, 215, 215);
}

.conteudo h2 {
    margin-bottom: 10px;
}

.kpis {
    display: flex;
    gap: 30px;
    width: 98%;
    align-self: center;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.conteudoKpi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 7px;
}

.kpiImg {
    width: 45px;
    margin-right: 10px;
}

.kpi_valor {
    display: flex;
    justify-content: center;
}

.texto_kpi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.item {
    font-size: smaller;
    cursor: pointer;
    background-color: #b0b3c6;
    padding: 5px;
    border-radius: 10px;
}

.item.ativo {
    background-color: #c48bf1;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 15px;
    margin-bottom: 10px;
    width: 98%;
}

.grafico {
    background: white;
    border-radius: 10px;
    width: 49%;
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.grafico h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.grafico canvas {
    flex: 1;
    min-height: 0;
    width: 100% !important;
    height: 100% !important;
}

.grafico_total {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.grafico_total h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.grafico_total canvas {
    flex: 1;
    min-height: 0;
    width: 1500px !important;
    height: 70% !important;
}

.texto {
    display: flex;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 40px;
}

.meta input {
    width: 110px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    margin-inline: 5px;
    background: linear-gradient(20deg, #8d64ffc9, #b678e6cd);
    font-size: large;
    outline: none;
}

.meta ::-webkit-input-placeholder {
    font-weight: lighter;
    font-size: medium;
    color: rgb(95, 93, 93);
}

.meta button {
    width: 90px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-inline: 5px;
    background: linear-gradient(20deg, #6A36FF, #AC5FE6);
    color: rgb(30, 28, 28);
    cursor: pointer;
}