* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: rgb(245, 245, 245);
}

.sidebar {
    width: 235px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.logo {
    margin-top: -15px;
    margin-bottom: 10px;
}


.menu button {
    padding: 12px;
    margin-bottom: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #6A36FF, #AC5FE6);
    border-radius: 6px;
    color: white;
    border: none;
    width: 100%;
    font-size: 15px;
    text-align: start;
}

.menu .agora {
    background: lightgray;
    color: navy;
    border-radius: 6px;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 5px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 15px;
}

.userIcon {
    width: 150px;
    height: 150px;
    align-self: center;
}

.sidebar b {
    align-self: center;
}

.btn-sair {
    background: red;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    background-color: rgb(215, 215, 215);
    height: 100vh;
}

.conteudo h3 {
    margin-right: 10px;
}

.titulo-filial {
    display: flex;
    margin-bottom: 10px;
}

.botao-seta {
    display: flex;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.botao-seta i {
    padding-top: 3px;
}

.seta-baixo {
    transform: rotate(-90deg);
}

.kpis {
    display: flex;
    gap: 10px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.conteudoKpi {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 7px;
}

.kpiImg {
    width: 45px;
}

.graficos {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    min-height: 0;
    width: 100%;
    align-self: center;
}

.grafico {
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 400px;
}

.grafico h3 {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.grafico canvas {
    flex: 1;
    min-height: 0;
    width: 100% !important;
    height: 100% !important;
}

.heatmap {
    /*     position: relative;
    width: 95%;
    height: 90%; */

    position: relative;
    width: 500px;
    height: 300px;
    margin-top: 30px;
    background-image: url(../assets/img/mapaLocal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    align-self: center;
}

.kpiToggle {
    display: flex;
    gap: 25px;
}

.toggle-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #888;
    cursor: pointer;
}

.toggle-item.ativo {
    color: navy;
    font-weight: bold;
}

.meta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meta input {
    width: 110px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    margin-inline: 5px;
    background: linear-gradient(20deg, #8d64ffc9, #b678e6cd);
    font-size: large;
    outline: none;
}

.meta ::-webkit-input-placeholder {
    font-weight: lighter;
    font-size: medium;
    color: rgb(95, 93, 93);
}

.meta button {
    width: 90px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-inline: 5px;
    background: linear-gradient(20deg, #6A36FF, #AC5FE6);
    color: rgb(30, 28, 28);
    cursor: pointer;
}