   body {
    margin: 0;
 }

 .cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }


 .info {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .formulario {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: left;
    gap: 40px;
 }

 .formulario p {
    color: rgb(129, 129, 129);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 5px 0;
 }

 .formulario h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
 }

 .formulario input {
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    outline: none;
    padding-bottom: 8px;
 }

 .formulario input:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
 }

 .formulario input::placeholder {
    color: black;
    font-size: 14px;
 }

 .formulario select {
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    outline: none;
    padding-bottom: 8px;
 }

 .formulario select:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
 }

 .formulario option {
    color: black;
 }

 .formulario button {
    background-color: rgb(12, 33, 193);
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin-top: 15px;
 }

 .formulario button:hover {
    background-color: rgb(11, 25, 134);
    cursor: pointer;
 }

 .formulario img {
    display: flex;
    width: 310px;
    height: 115px;
    margin-bottom: 35px;
    margin-top: -30px;
    align-self: center;
 }

 .painel {
    display: flex;
    flex: 2;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100vh;
    background-image: url("../assets/img/painel_cadastro_usuario.png");
 }

 .painel h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: left;
    margin-left: 80px;
 }

 .cadastro_usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .cadastro_usuario .painel {
    background-image: url("../assets/img/painel_cadastro_usuario.png");
    background-repeat: no-repeat;
    background-size: cover;
 }

 .cadastro_usuario .painel h1 {
    font-size: 50px;
 }

 .campo-senha {
    position: relative;
 }

 .campo-senha input {
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    outline: none;
    padding-bottom: 8px;
    width: 94%;
    padding-right: 30px;

 }

 .campo-senha .olho {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(129, 129, 129);
 }

 .login_usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }



 .login_usuario .painel {
    background-image: url("../assets/img/painel_cadastro_usuario.png");
    background-repeat: no-repeat;
    background-size: cover;
 }

 .login_usuario input {
    margin-bottom: 25px;
 }

 .login_usuario img {
    display: flex;
    width: 310px;
    height: 115px;
    margin-top: -100px;
    margin-bottom: 80px;
    align-self: center;
 }

 .login_usuario .formulario {
   display: flex;
   width: 65% !important;
 }

 .login_usuario .formulario h3 {
    font-size: 30px;
    margin-bottom: 12px;
 }

 .login_usuario .formulario input {
    font-size: 18px;
    padding: 14px 10px;
 }

 .login_usuario .formulario .campo-senha input {
    font-size: 18px;
    padding: 14px 10px;
 }

 .login_usuario .formulario button {
    height: 40px;
    width: auto;
    font-size: 18px;
    border-radius: 24px;
 }

 .login_usuario .painel h1 {
    font-size: 58px;
 }

 .login_usuario .formulario {
    width: 82%;
    gap: 20px;
    margin-top: -30px;
 }

 .login_usuario .formulario input::placeholder {
    font-size: 14px;
 }

 .login_usuario .campo-senha {
    position: relative;
 }

 .login_usuario .campo-senha input {
    width: 100%;
    box-sizing: border-box;
 }

 .login_usuario .campo-senha .olho {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(129, 129, 129);
 }
    .voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
}